@media screen and (max-width:570px){


    body{
        overflow-x: hidden;
        width: 100vw;

    }

    header{
        width: 100%; 
        margin-top: 0px;
    }
    .hidden-item{ 
        display: none;
    }

    .phone-data{
        display: flex;
        justify-content: space-around;
        gap: 163px;
        align-items: center;
        margin: 0 auto;
        margin-left: 5vw;
        width: 90vw;
        height: 54px;
    }

    .nav-list{
        gap: 0;
    }
    header{
        width: 90vw;
    }


    nav{
        margin: 0 auto;
        width: 95%;
        margin-top: 0;

    }

    
    /* .cart-container{
        margin-left: 50px;
    } */

    .cart{
        padding-left: 100px;
    }

    .nav-image{
        width: 63px;
        height: 38px;
    }

    .banner{
        margin-top: 28px;
        width: 100%;
        flex-direction: column-reverse;
    }

    .banner-left{
        max-width: 95%;
        margin: 0 auto;
        margin-top: 28px;
    }
    .banner-title{
        margin-top: 0;
        font-size: 1.5rem;
    }
    .banner-dis{
        font-size: 0.875rem;
        font-weight: 500;
    }

    .banner-right{
        width: 100%;
    }

    /* plants section */

    .plants{
        max-width: 336px;
    }

    .plant-title{
        font-size: 1.5rem;
    }
    .plant-dis{
        font-size: 0.875rem;
    }

    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .plant-name{
        font-weight: 500;
        font-size: 1rem;
    }
    .plant-price{
        font-weight: bold;
        font-size: 1rem;
    }

    .plants-lover{
        flex-direction: column;
        max-width: 358px;
        justify-self: center;
    }

    .plant-lover-img{
        max-width: 358px;
        max-height: 396px;
    }

    .lover-title{
        font-size: 1.5rem;
    }

    .lover-list{
        font-size: 0.875rem;
        list-style-type: disc;         
        list-style-position: outside;
        margin-left: 1.5rem;           
        padding-left: 1rem; 
    }

    .lover-list-item{
        margin-top: 16px;
        line-height: 17px;
    }

    .latest-cards{
        flex-direction: column;
        margin-top: 51.5px;
        
    }
    .latest{
        width: 100vw;
        margin: 0 auto;
    }

    .latest1 , .latest2, .latest3{
        width: 361px;
        height: 184.5px;
        border-radius: 14px;
        margin: 0 auto;
    }


    .latest-left-title{
        font-size: 1.25rem;
        margin-top: 65px;
    }

    .latest-right-dis a{
        font-size: 1rem;
        margin-top: 19px;
    }

    .latest-left-dis a{
        font-size: 1rem;
        margin-top: 19px;
    }
    .latest-right-title{
        padding-top: 65px;
        font-size: 1.25rem;
    }

    .latest-title{
        font-size: 1.5rem;
        margin-top: 143px;
    }

    .latest-dis{
        font-size: 0.875rem;
        line-height: 17px;
        width: 336px;
    }

    /* newsletter section */

    .newsletter{
        height: 276px;
    }

    .newsletter-title{
        font-size: 20px;
        padding-top: 110.5px;
    }

    .form{
        max-width: 321px;
        margin-top: 23px;
    }
    .form-btn{
        font-size: 1rem;
        width: 103px;
    }
    .form-email{
        width: 218px;
        
    }
}

