@media screen and (max-width:570px){


    body{
        overflow-x: hidden;
        width: 100vw;

    }

    header{
        width: 100%; 
        margin-top: 0px;
    }
    .hidden-item{ 
        display: none;
    }

    .phone-data{
        display: flex;
        justify-content: space-around;
        gap: 163px;
        align-items: center;
        margin: 0 auto;
        margin-left: 5vw;
        width: 90vw;
        height: 54px;
    }

    .nav-list{
        gap: 0;
    }
    header{
        width: 90vw;
    }


    nav{
        margin: 0 auto;
        width: 95%;
        margin-top: 0;

    }

    
    /* .cart-container{
        margin-left: 50px;
    } */

    .cart{
        padding-left: 100px;
    }

    .nav-image{
        width: 63px;
        height: 38px;
    }

    .banner{
        margin-top: 28px;
        width: 100%;
        flex-direction: column-reverse;
    }

    .banner-left{
        max-width: 95%;
        margin: 0 auto;
        margin-top: 28px;
    }
    .banner-title{
        margin-top: 0;
        font-size: 1.5rem;
    }
    .banner-dis{
        font-size: 0.875rem;
        font-weight: 500;
    }

    .banner-right{
        width: 100%;
    }

    /* plants section */

    .plants{
        max-width: 336px;
    }

    .plant-title{
        font-size: 1.5rem;
    }
    .plant-dis{
        font-size: 0.875rem;
    }

    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .plant-name{
        font-weight: 500;
        font-size: 1rem;
    }
    .plant-price{
        font-weight: bold;
        font-size: 1rem;
    }


}