@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}

body{

background: #F5F8FF;
}

/* fonts */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* shared styles */

.dark{color: #8987A1;}
.dark2{color: rgba(0, 0, 0, 0.5);}

.primary-col{color:#E95A08;}

/* header */

header{
  margin-top: 30px;
}

.phone-data{
  width: 70vw;
  margin: 0 auto;
  /* margin: 0; */
  padding: 0;
  /* justify-self: center; */
  display: none;
}

nav{
  max-width: 1140px;
  height: 71px;
  margin: 0 auto;
}

.header-nav{
  align-items: center;
}

.home{
  color:#252432;
}


/* main */

/* banner */

.banner{
  margin: 0 auto;
  margin-top: 120px;
  max-width: 1140px;
}

.banner-title{
  margin-top: 162px;
}

.banner-left{
  max-width: 50%;
  margin-top: 13px;
}

.banner-right{
  width: 50%;
}

.banner-right-img{
  width: 100%;
  margin-top: 106px;
}


/* plants section */

.plants{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
  /* background-color: antiquewhite; */
}

.plant-title{
  text-align: center;
  font-size: 3.125rem;
  font-weight: bold;
}

.plant-dis{
  max-width: 888px;
  font-size: 1.375rem;
  justify-self: center;
}

.plant-card-container{
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.plant-card{
  max-width: 270px;
  height: 100%;
}

.plant-image{
  max-height: 322.94px;
  max-width: 270px;
}

.plant-details{
  margin-top: 30px;
  text-align: center;
  font-size: 1.375rem;
}

.plant-name{
  font-weight: 500;
}

.plant-price{
  font-weight: bold;
}

.plant-card-button{
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #E95A08;
  width: 100%;
  height: 50px;
  margin-top: 30px;
}


/* plant lover section */

.plants-lover{
  margin-top: 210.12px;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  justify-self: center;
  /* max-height: 540px; */
  gap: 60px;
  position: relative;
}

.lover-title{
  font-size: 3.125rem;
  font-weight: bold;
}

.lover-right{
  max-width: 540px;
  max-height: 521px;

}
.lover-list{
        list-style-type: disc;         
        list-style-position: outside;
        margin-left: 1.5rem;           
        padding-left: 1rem; 
        line-height: 27px;
    
}


.lover-list-item{
  margin-top: 20px;
  font-weight: 400;
}


.plant-lover-img{
  max-height: 597px;
  max-width: 540px;
  /* height: 540px; */
}


.badge{
  position: absolute;
  top: -130px;
  right: calc(50% - 60px);
  max-width: 286px;
  max-height: 286px;
  z-index: 100;
}




.latest{
  justify-self: center;
  margin-top: 133.87px;
  
}

.latest-title{
  text-align: center;
  font-size: 3.125rem;
  font-weight: bold;
}

.latest-dis{
  font-size: 1.375rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 888px;
  line-height: 27px;
  margin-top: 16px;
}

.latest1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/deal-bloom.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  border-radius: 14px;
}

.latest2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/deal-ana.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  border-radius: 14px;
  align-items: center;
}

.latest-cards{
  margin-top: 120px;
}

.latest3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/deal-zabo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 753px;
  height: 427.13px;
  border-radius: 22px;

}

.latest-left-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
}

.latest-left-dis a{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 19px;
  text-decoration: underline;
}

.latest-right-title{
  font-size: 40px;
  font-weight: bold;
  padding-top: 172.12px;
}

.latest-right-dis a{
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 19px;
  text-decoration: underline;
}


/* newsletter section */

.newsletter{
  margin-top: 120px;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
}

.newsletter-title{
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 199px;
  font-weight: bold;
}

.form{
  display: flex;
  max-width: 830px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 23px;
}

.form-email{
  background-color: white;
  font-size: 1rem;
  box-sizing: border-box;
  width: 644px;
  height: 50px;
  padding: 15.5px 0 15.5px 20px;
  outline: none;
  /* margin: 0 auto; */

}

.form-btn{
  font-size: 1rem;
  font-weight: 600;
  /* padding: 19px 53.5px 19px 53px; */
  height: 50px;
  width: 186px;
  line-height: 19px;
  background-color: #E95A08;
  color: white;
}


/* footer */

footer{
  background-color: white;
  height: 348px;
  width: 100%;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  height: 100%;
  justify-self: center;
  gap: 110px;
  
}


.footer-logo{
  width: 135px;
  height: 82px;
  margin-top: 50px;
}

.footer-dis{
  font-size: 1.375rem;
  font-weight: 400;
  max-width: 359px;
  line-height: 27px;
  margin-top: 16px;
}

.footer-middle{
  display: flex;
  gap: 110.67px;
}

.fm1-list, .fm2-list{
  font-size: 1rem;
  color: #6B7280;
  font-weight: 400;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-right{
  display: flex;
  width: 216px;
  gap: 24px;
  margin-top: 50px;
}

.icon{
  width: 36px;
  height: 36px;
}
